@page "/cadastro"
@using CooperativaXZ
@inject UserService userApi
@inject NavigationManager navigation
@inject HttpClient Http
@using System.Net;
@using System.Net.Http;
@using System.Net.Http.Headers;
@using System.Threading.Tasks;
@using System.Text;
@using Newtonsoft.Json

<div class="form-group d-flex justify-content-center">

    <div class="container">
        <br>
        <h1 class="display" style="text-align:center">Cadastro Cooperado</h1>
        <br>
        <ErrorMessages Errors=@errors />
        <!-- <form Model="userCredentials" onsubmit="CreateUser"> -->

            <div class="form-group" style="margin-top:25px;">
                <div class="col-md-6 offset-md-3">
                    <label> Nome </label>
                    <input bind="@userCredentials.Username" type="text" name="name" class="form-control " placeholder="Nome" required="">
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <label> E-mail </label>
                    <input bind="@userCredentials.Email" type="text" name="email" class="form-control " placeholder="E-mail" required="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <label> CPF </label>
                    <input bind="@userCredentials.Cpf" type="text" name="cpf" class="form-control " placeholder="CPF" required="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <label> Crie sua senha </label>
                    <input bind="@userCredentials.Password" type="password" name="password" class="form-control" placeholder="Senha" required="">
                    <small id="passHelp" class="form-text text-muted">(A senha deve ter de 8 a 16 caracteres, misturando letras e números.)</small>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <label> Confirme sua senha </label>
                    <input type="password" name="password" class="form-control" placeholder="Senha Confirmação" required="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <button type="submit" class="btn btn-info" @onclick="@CreateUser">
                        Cadastrar
                    </button>

                </div>
            </div>
        <!-- </form> -->
    </div>
</div>


@functions {

    private UserCredentials userCredentials { get; set; } = new UserCredentials();
    ErrorsModel errors = new ErrorsModel();

    private async Task CreateUser(){
        var myContent = JsonConvert.SerializeObject(userCredentials);

        var buffer = System.Text.Encoding.UTF8.GetBytes(myContent);
        var byteContent = new ByteArrayContent(buffer);

        byteContent.Headers.ContentType = new MediaTypeHeaderValue("application/json");

        await Http.PostAsync("http://localhost:3000/member", byteContent);
    }

}

